h1 {
 font-size: 20px; 
 align-self: center;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}
header {
  padding: 20px 0;
  background: #e0e0e0 ;
}

header .wrapper  {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.hamburger {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  list-style: none;
  margin: 0 20px;
  justify-self: flex-end;
}